body {
  font-family: arial,helvetica,sans-serif;
  font-size: 10pt;
  margin: 5px;
}

input {
  font-family: arial,helvetica,sans-serif;
  font-size: 10pt;
  margin: 0 2px 0 0;
  outline: none;
}

input[type=checkbox] {
  margin: 3px 3px 3px 4px;
}

.postarea table {
  margin-left: auto;
  margin-right: auto;
}

.reply a, .parentPost a {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}

.postInput {
  outline: none;
  padding: 2px 4px 3px;
}

.recaptchatable {
  border: none!important;
}

.banner {
  margin: 5px 0px 5px 0px;
  width: 300px;
  height: 100px;
  max-width: 100%;
}

#announcement {
  text-align: center;
  width: 100%;
}

.thread {
  margin: 0px;
  clear: both;
  margin-bottom: 8px;
}

.reply {
  display: table;
  padding: 2px;
}

#postFormToggle {
  display: none;
}

.replyContainer {
  display: block;
  margin-bottom: 4px;
  margin-top: 4px;
}

.parentPost {
  display: inline;
  clear: both;
  margin: 4px 0px;
}

.mobileParentPostInfo {
  display: none;
}

.parentPostInfo {
  display: inline;
}

.rightblock,.leftblock {
  display: inline;
}

.topNavRight {
  float: right;
  padding: 5px;
}

.topNavLeft {
  float: left;
  padding: 5px;
}

.topNavContainer {
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9001;
  vertical-align: middle;
  display: none;
}

.topNavContainer a {
  font-weight: normal;
}

#adminNav {
  display: block;
}

.logo {
  clear: both;
  text-align: center;
  width: 100%;
}

.title {
  font-family: Tahoma,sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 0;
}

.logoSubtitle {
  font-size: x-small;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.adminLogo {
  margin-top: 40px;
}

.pageNumber {
  background: #D6DAF0;
  border: none;
  color: #89A;
  padding: 5px 7px;
  display: table;
}

.pageNumber a {
  text-decoration: none;
}

#topPageNumber {
  position: absolute;
  left: 10px;
  top: 50px;
}

.pageForm {
  display: inline;
}

.theader {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  padding: 2px 0;
  font-size: larger;
  font-weight: bold;
}

.rules {
  font-size: 10px;
  caption-side: bottom;
  display: table-caption;
}

.rules ul {
  padding: 0;
  margin: 0;
}

.rules li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rules li:before {
  content: "\2022 \20";
}

hr {
  border: none;
  height: 0;
  clear: both;
}

.postrow {
  display: table-row;
}

.postBlock {
  border: 1px solid #000;
  font-size: 10pt;
  font-weight: bold;
  line-height: 20px;
  padding: 0 5px;
  vertical-align: middle;
  min-width: 70px;
}

div.postBlock {
  display: table-cell;
}

.postField {
  display: table-cell;
}

#postForm {
  display: table;
  border-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
}

#field1, #field2 {
  width: 230px;
}

#field1andahalf {
  width: 230px;
}

#field3 {
  width: 230px;
}

#field3s {
  width: 57px;
}

#field4 {
  width: 292px;
  height: 70px;
  font-family: arial,helvetica,sans-serif;
  font-size: 10pt;
  margin: 0px;
  margin-right: 2px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 
  #field4 {
    margin-bottom: -3px!important;
    width: 292px;
  }
}

#password {
  width: 50px;
}

.passDesc {
  font-size: smaller;
}

.footer {
  text-align: center;
  font-size: x-small!important;
  padding-bottom: 10px;
  padding-top: 4px;
  clear: both;
}

.passvalid {
  background: #E04000;
  color: #fff;
  text-align: center;
  width: 100%;
  font-weight: bold;
  padding: 3px 0px;
  margin-top: 5px;
}

.dellist {
  font-weight: 700;
  text-align: center;
}

.delbuttons {
  padding-bottom: 4px;
  text-align: center;
}

.managehead {
  padding: 0;
}

.postlists {
  background: #FFF;
  color: maroon;
  padding: 0;
  width: 100%;
}

.unkfunc {
  color: #789922;
  margin: 0;
  padding: 0;
}

.quote {
  color: #789922;
}

.filetitle, .replytitle, .oldpost {
  background: inherit;
  font-weight: bold;
}

.postertrip {
  color: #228854;
}

.oldpost {
  color: #CC1105;
  font-weight: bold;
}

blockquote {
  font-size: 10pt;
}

pre.prettyprint {
  display: inline-block;
  background-color: #F1F1F1;
  border: medium none !important;
  max-width: 600px;
  max-height: 400px;
  overflow: auto;
  padding: 5px !important;
  font-size: 8pt;
  word-wrap: normal;
  vertical-align: middle;
  -moz-tab-size: 4;
  tab-size: 4;
}

pre.sqldump {
  display: block;
  background-color: #F1F1F1;
  border: medium none !important;
  max-width: 100%;
  overflow: auto;
  padding: 5px !important;
  font-size: 8pt;
  tab-size: 4;
}

.doubledash {
  display: block;
  float: left;
  margin-right: 2px;
}

.thumbnailmsg {
  color: maroon;
  font-size: small;
}

.thumb {
  border: none;
  float: left;
  margin: 2px 20px;
}

.opThumb {
  margin-bottom: 2px;
}

.replyThumb {
  margin-bottom: 5px;
}

.nothumb {
  background: #eee;
  border: 2px dashed #aaa;
  text-align: center;
  margin: 2px 20px;
  padding: 1em 0.5em 1em 0.5em;
}

.spoiler a.quotelink, .spoiler .unkfunc {
  color: inherit;
}

span.spoiler {
  background: #000;
  color: black;
}

span:hover.spoiler {
  color: #FFF;
}

.rules a, .filesize, .filesize {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 10px;
}

.postername, .commentpostername {
  color: #117743;
  font-weight: bold;
}

.parentPost .filesize {
  margin-left: 0px;
}

.omittedposts, .abbrev {
  color: #707070;
  margin-top: 10px;
  clear: both;
  display: table-cell;
}

.omittedposts a {
  text-decoration: none;
}

.adminName {
  color: red;
}

.adminTrip {
  color: red;
}

.adminCap {
  color: red;
  font-weight: bold;
}

.modName {
  color: purple;
}

.modTrip {
  color: purple;
}

.modCap {
  color: purple;
  font-weight: bold;
}

select {
  color: #000000;
  font-size: 13px;
  margin: 0;
}

#deleteForm {
  float: right;
  text-align: right;
}

div#deleteForm input[type="checkbox"] {
  margin: 1px 2px 1px 2px;
}

#delPass {
  width: 50px;
}

.formButtom {
}

#navOptionsMenu {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 600px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, .25);
  border-left: none;
  border-top: none;
}

.navOptionsContent {
  overflow: auto;
  position: absolute;
  top: 2.5em;
  right: 5px;
  bottom: 5px;
  left: 5px;
  margin-right: 5px;
}

.navOptionsListItem {
  text-decoration: underline;
}

.add-filter {
display:none
}

.optionspage {
display:none
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
}

.overlay {
  overflow-y: auto;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
}

#overlay::after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.postMenuButtonMobile {
  display: none;
}

.postMenuButton {
  text-decoration: none;
}

.postMenuButton > span {
  border-top: .5em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
  display: inline-block;
  margin: 2px;
  vertical-align: middle;
}

.postMenu {
  display: none;
  position: absolute;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .25);
  border-bottom: none;
  padding: 0;
  margin: 2px;
  margin-left: 0;
}

.subMenu {
  position: absolute;
  left: 100%;
  margin-top: -1px;
}

.postMenuItem {
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  cursor: pointer;
  display: block;
  outline: none;
  padding: 3px 7px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.hidePostButton {
  text-decoration: none;
}

#threadList {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
}

.hasSubMenu::after {
  content: "";
  border-left: .5em solid;
  border-top: .3em solid transparent;
  border-bottom: .3em solid transparent;
  display: inline-block;
  margin-top: -17px;
  position: absolute;
  right: 3px;
}

.capIcon {
  margin-bottom: -2px;
  margin-left: 4px;
}

.replyPostInfo {
  margin: 0px;
  padding: 0px;
  display: inline;
}

#recaptcha_response_field {
  margin-top:-2px!important;
  margin-right: 2px;
  padding: 2px 4px 3px 4px;
  border: 1px solid #AAA;
  outline: none;
  font-family: arial,helvetica,sans-serif;
  font-size: 10pt;
}

#recaptcha_response_field:not(:focus) {
  border: 1px solid #AAA!important;
}

.reportContainer {
  height: 250px;
  width: 430px;
  border: 1px solid #B7C5D9;
  margin: 5px;
  background: #D6DAF0;
  display: block;
  float: left;
}

.reportHeader {
  padding: 5px;
  background: #EA8;
}

.reportPostHeader {
  padding: 5px;
  background: #F0E0D6;
}

.reportContent {
  padding: 5px;
}

.reportOptions {
  padding: 5px;
  float: right;
}

.reportComment {
  height: 155px;
  overflow: auto;
  margin: 5px;
}

.listCol {
  padding: 6px;
  margin: 0;
}

.listHead {
  background: #98E;
  font-size: 10pt;
  font-weight: bold;
  line-height: 20px;
  padding: 3px;
  vertical-align: middle;
  border: 4px solid #B7C5D9;
  border-left: none;
  border-top: none;
}

.listRow:nth-child(odd) {
  background-color: #D6DAF0;
}

.listRow:nth-child(even) {
  background-color: #B7C5D9;
}

.listRow:hover {
  background: #98B;
}

.listPageHeader {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

.passNotice {
  font-size: smaller;
  padding-left: 6px;
}

#image {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

#bottomNavStatic {
  padding-top: 10px;
  padding-bottom: 3px;
}

.staticNav {
  font-size: 9pt;
  color: #89A;
  clear: both;
}

.staticNav a {
  font-weight: normal;
  padding: 1px;
  text-decoration: none;
  color: #34345C;
}

.styleChanger {
  margin-top: 5px;
}

iframe[src="about:blank"] {
  display: none;
}

.reportblock {
  color: #000;
  font-weight: bold;
  padding: 0 5px;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid black;
  background: #98E;
}

.reportstats {
  border: 1px solid black;
  border-collapse: collapse;
}

.reportright {
  border: 1px solid black;
}

.bantemplate input, select, textarea, em, label {
  margin: 1px 2px;
}

.bantemplate input[type=text] {
  width: 200px;
}

.bantemplate textarea {
  width: 250px;
  height: 60px;
}

.bantemplate span.passDesc {
  margin: 0px 5px;
  padding: 0;
}

.capcodeReplies > a, .capcodeReplies > strong {
  font-size: smaller;
}

.longtext {
  word-wrap: break-word;
  word-break: break-all;
  display: inline-block;
}

.catalogLink {
  border-left: 1px solid #B7C5D9;
  padding-left: 12px;
  margin-left: 7px;
  display: inline;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

#reverseImgSearchLinks {
  font-family: monospace;
  width: 500px;
  height: 125px;
  box-sizing: border-box;
  margin: 3px 0 0 20px;
  overflow-x: auto;
}

a.postMenuItem {
  word-break: normal;
  word-wrap: normal;
}

.pass-field {
text-align:center;
width: 50px;
}

/* Quick Reply Stuff */

#qr-form {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2px;
}

#qr-form input[type=text], #qr-form div, #qr-form textarea, #qr-form input[type=submit] {
  font-family: arial,helvetica,sans-serif;
  font-size: 10pt;
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#qr-form input[type=text], #qr-form > div, #qr-form > textarea, #qr-form input[type=file] {
  width: 300px;
  display: block;
}

#qr-form > input, #qr-form img, #recaptcha_response_field,#qr-catpcha {
  width: 300px;
}

#qrfield4 {
  margin-bottom: 1px;
}

#qr-form img {
  border: 1px solid #AAA;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#qr-form > .sub-row {
  width: 300px;
  clear: both;
  margin:1px 0;
}

#qr-form > .sub-row > input:nth-child(1) {
  float: left;
  width: 244px;
}

#qr-form > .sub-row > input:nth-child(2) {
  float: right;
  width: 55px!important;
  padding-left: 0;
  padding-right: 0;
}

#qr-form > textarea {
  margin: 1px 0
}

#qr-form input[name=field1] {
  margin: 0 0 1px;
}

.qr-close {
  text-decoration: none;
  padding: 2px;
}

.qr-file {
  padding: 0;
}

.qr-header {
  margin-bottom: 2px!important;
  text-align: center;
  padding: 2px 0;
}

#qr-error {
  margin: 0!important;
  color: red;
}

/* Catalog Stuff */

#catalog {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

.cat-item-container {
  display: inline-block;
  margin: 5px 0;
  vertical-align: top;
}

.cat-item-container > * {
  margin: 0 auto;
}

.cat-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.deleted-image {
	background-size: contain;
}

.cat-item-inner {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: none;
}

.cat-item-count {
  font-size: 10px;
  font-weight: bold;
}

.cat-item-text {
  display: block;
  max-height: 10em;
  overflow-y: hidden;
  word-wrap: break-word;
}

.cat-controls {
  float: right;
}

.cat-controls > div {
  display: inline;
}
.altrow:nth-child(odd) {
    background: rgba(0,0,0,0.1);
}
