body {
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    margin: 5px;
}
input {
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    margin: 0 2px 0 0;
    outline: none;
}
input[type=checkbox] { margin: 3px 3px 3px 4px }
.postarea table{
margin-left:auto;
margin-right:auto;
}
.postInput {
    outline: none;
    padding: 2px 4px 3px;
}
.recaptchatable { border: none!important }
.banner {
    margin: 5px 0px 5px 0px;
    width: 300px;
    height: 100px;
    max-width: 100%;
}
#announcement {
    text-align: center;
    width: 100%;
}
.thread {
    margin: 0px;
    clear: both;
    margin-bottom: 8px;
}
.reply {
    display: table;
    padding: 2px;
}
#postFormToggle { display: none }
.replyContainer {
    display: block;
    margin-bottom: 4px;
    margin-top: 4px;
}
.parentPost {
    display: inline;
    clear: both;
    margin: 4px 0px;
}
.mobileParentPostInfo { display: none }
.parentPostInfo{
display:inline
}
.rightblock,.leftblock{
display:inline
}
#quickReply {
    top: 0;
    right: 0;
    margin-top: 30px;
    position: fixed;
    border: 1px black solid;
    border-top: none;
    padding: 2px;
    background: inherit;
    margin-right: 2px;
}
.topNavRight {
    float: right;
    padding: 5px;
}
.topNavLeft {
    float: left;
    padding: 5px;
}
.topNavContainer {
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9001;
    vertical-align: middle;
    display: none;
}
.topNavContainer a { font-weight: normal }
#adminNav { display: block }
.logo {
    clear: both;
    text-align: center;
    width: 100%;
}
.title {
    font-family: Tahoma,sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -2px;
    margin:0;
}
.logoSubtitle {
    font-size: x-small;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.adminLogo { margin-top: 40px }
.pageNumber {
    background: #D6DAF0;
    border: none;
    color: #89A;
    padding: 5px 7px;
    display: table;
}
.pageNumber a { text-decoration: none }
#topPageNumber {
    position: absolute;
    left: 10px;
    top: 50px;
}
.pageForm { display: inline }
.theader {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
	padding: 2px 0;
	font-size:larger;
	font-weight:bold;
}
.rules {
    font-size: 10px;
    margin-left: -27px;
    margin-top: -9px;
    width: 468px;
}
.rules>li {
    list-style: none;
    padding: 0;
}
.rules>li:before { content: "\2022 \20" }
hr {
    border: none;
    height: 0;
    clear: both;
}
.postBlock {
    border: 1px solid #000;
    font-size: 10pt;
    font-weight: bold;
    line-height: 20px;
    padding: 0 5px;
    vertical-align: middle;
}
div.postBlock {
    width: 73px;
    display: table-cell;
}
.postField {
    display: table-cell;
    margin-left: 10px;
}
.postSpacer { display: table-cell }
#postForm, #qrPostForm {
    display: table;
    border-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}
#field1, #field2, #qrField1, #qrField2 { width: 230px }
#field1andahalf { width: 230px }
#field3, #qrField3 { width: 230px }
#field3s { width: 57px }
#field4, #qrField4 {
    width: 292px;
    height: 70px;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    margin: 0px;
    margin-right: 2px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	#field4, #qrField4 {
	    margin-bottom: -3px!important;
	    width: 292px;
	}
}
#password, #qrPassword { width: 50px }
.passDesc { font-size: smaller }
.footer {
    text-align: center;
    font-size: x-small!important;
    padding-bottom: 10px;
    padding-top: 4px;
    clear: both;
}
.passvalid {
    background: #E04000;
    color: #fff;
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding: 3px 0px;
    margin-top: 5px;
}
.dellist {
    font-weight: 700;
    text-align: center;
}
.delbuttons {
    padding-bottom: 4px;
    text-align: center;
}
.managehead { padding: 0 }
.postlists {
    background: #FFF;
    color: maroon;
    padding: 0;
    width: 100%;
}
.row1 {
    background: #EEC;
    color: maroon;
}
.row2 {
    background: #DDA;
    color: maroon;
}
.unkfunc {
    color: #789922;
    margin: 0;
    padding: 0;
}
.quote { color: #789922 }
.filetitle, .replytitle, .oldpost {
    background: inherit;
    font-weight: bold;
}
.postertrip { color: #228854 }
.oldpost {
    color: #CC1105;
    font-weight: bold;
}
blockquote { font-size: 10pt }
pre.prettyprint {
    display: inline-block;
    background-color: #F1F1F1;
    border: medium none !important;
    max-width: 600px;
    max-height: 400px;
    overflow: auto;
    padding: 5px !important;
    font-size: 8pt;
    word-wrap: normal;
    vertical-align: middle;
    -moz-tab-size: 4;
    tab-size: 4;
}
pre.sqldump {
    display: block;
    background-color: #F1F1F1;
    border: medium none !important;
    max-width: 100%;
    overflow: auto;
    padding: 5px !important;
    font-size: 8pt;
    tab-size: 4;
}
.doubledash {
    display: block;
    float: left;
    margin-right: 2px;
}
.thumbnailmsg {
    color: maroon;
    font-size: small;
}
.thumb {
    border: none;
    float: left;
    margin: 2px 20px;
}
.opThumb { margin-bottom: 2px }
.replyThumb { margin-bottom: 5px }
.nothumb {
    background: #eee;
    border: 2px dashed #aaa;
    text-align: center;
    margin: 2px 20px;
    padding: 1em 0.5em 1em 0.5em;
}
.spoiler a.quotelink, .spoiler .unkfunc { color: inherit }
span.spoiler { background: #000; color: black }
span:hover.spoiler { color: #FFF }
.rules a, .filesize, .filesize {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 10px;
}
.postername, .commentpostername {
    color: #117743;
    font-weight: bold;
}
.parentPost .filesize { margin-left: 0px }
.omittedposts, .abbrev {
    color: #707070;
    margin-top: 10px;
    clear: both;
    display: table-cell;
}
.adminName { color: red }
.adminTrip { color: red }
.adminCap {
    color: red;
    font-weight: bold;
}
.modName { color: purple }
.modTrip { color: purple }
.modCap {
    color: purple;
    font-weight: bold;
}
select {
    color: #000000;
    font-size: 13px;
    margin: 0;
}
#deleteForm {
    float: right;
    text-align: right;
}
div#deleteForm input[type="checkbox"] { margin: 1px 2px 1px 2px }
#delPass { width: 50px }
.formButtom { }
#navOptionsMenu {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 600px;
    max-width: 100%;
    height: 500px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, .25);
    border-left: none;
    border-top: none;
}
#navOptionsContent {
    overflow: auto;
    position: absolute;
    top: 2.5em;
    right: 5px;
    bottom: 5px;
    left: 5px;
	margin-right:5px;
}
.navOptionsListItem {
    text-decoration: underline;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}
#overlay::after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.postMenuButton { text-decoration: none }
.postMenuButton > span {
    border-top: .5em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
    display: inline-block;
    margin: 2px;
    vertical-align: middle;
}
.postMenu {
    display: none;
    position: absolute;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .25);
    border-bottom: none;
    padding: 0;
    margin: 2px;
    margin-left: 0;
}
.subMenu {
    position: absolute;
    left: 100%;
    margin-top: -1px;
}
.postMenuItem {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    cursor: pointer;
    display: block;
    outline: none;
    padding: 3px 7px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}
.hidePostButton { text-decoration: none }
#threadList {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}
#catalog {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.catItem {
    display: inline-block;
    width: 165px;
    max-height: 300px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    vertical-align: top;
    word-wrap: break-word;
    overflow: hidden;
    padding: 5px 0 3px 0;
    font-size: 9pt;
}
.catItemHoverNoThumb {
    display: inline-block;
    visibility: hidden;
    background: #f1f1f1;
    position: absolute;
    width: 150px;
    height: 150px;
    border: 2px solid #555555;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.catItemHover {
    display: inline-block;
    visibility: hidden;
    background: #f1f1f1;
    position: absolute;
    border: 2px solid #555555;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.catItemHoverText {
    display: inline-block;
    opacity: .5;
    font-size: 15pt;
    font-weight: bold;
}
.catItemHoverTextNoThumb {
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    opacity: .5;
    font-size: 15pt;
    font-weight: bold;
}
.catImage {
    border: 2px solid #555555;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.catImageNoThumb {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 2px solid #555555;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    line-height: 150px;
}
.catComment {
    margin-top: 2px;
    position: relative;
    max-width: 150px;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
}
.catCounts {
    font-size: 7pt;
    font-weight: bold;
}
.hasSubMenu::after {
    content: "";
    border-left: .5em solid;
    border-top: .3em solid transparent;
    border-bottom: .3em solid transparent;
    display: inline-block;
    margin-top: -17px;
    position: absolute;
    right: 3px;
}
.capIcon {
    margin-bottom: -2px;
    margin-left: 4px;
}
.replyPostInfo {
    margin: 0px;
    padding: 0px;
    display: inline;
}
#recaptcha_response_field { padding: 0px }
#recaptcha_response_field {
    margin: 0px;
    margin-right: 2px;
    padding: 2px 4px 3px 4px;
    border: 1px solid #AAA;
    outline: none;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
}
#recaptcha_response_field:not(:focus) { border: 1px solid #AAA!important }
.reportContainer {
    height: 250px;
    width: 430px;
    border: 1px solid #B7C5D9;
    margin: 5px;
    background: #D6DAF0;
    display: block;
    float: left;
}
.reportHeader {
    padding: 5px;
    background: #EA8;
}
.reportPostHeader {
    padding: 5px;
    background: #F0E0D6;
}
.reportContent { padding: 5px }
.reportOptions {
    padding: 5px;
    float: right;
}
.reportComment {
    height: 155px;
    overflow: auto;
    margin: 5px;
}
.listCol {
    padding: 6px;
    margin: 0;
}
.listHead {
    background: #98E;
    font-size: 10pt;
    font-weight: bold;
    line-height: 20px;
    padding: 3px;
    vertical-align: middle;
    border: 4px solid #B7C5D9;
    border-left: none;
    border-top: none;
}
.listRow:nth-child(odd) { background-color: #D6DAF0 }
.listRow:nth-child(even) { background-color: #B7C5D9 }
.listRow:hover { background: #98B }
.listPageHeader {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}
.passNotice {
    font-size: smaller;
    padding-left: 6px;
}
#image {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#bottomNavStatic {
    padding-top: 10px;
    padding-bottom: 3px;
}
.staticNav {
    font-size: 9pt;
    color: #89A;
    clear: both;
}
.staticNav a {
    font-weight: normal;
    padding: 1px;
    text-decoration: none;
    color: #34345C;
}
.styleChanger { margin-top: 5px }
iframe[src="about:blank"] { display: none }
.reportblock {
    color: #000;
    font-weight: bold;
    padding: 0 5px;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid black;
    background: #98E;
}
.reportstats {
    border: 1px solid black;
    border-collapse: collapse;
}
.reportright { border: 1px solid black }
.bantemplate input, select, textarea, em, label { margin: 1px 2px }
.bantemplate input[type=text] { width: 200px }
.bantemplate textarea {
    width: 250px;
    height: 60px;
}
.bantemplate span.passDesc {
    margin: 0px 5px;
    padding: 0;
}
.capcodeReplies { font-size: smaller }
.longtext {
    word-wrap: break-word;
	word-break: break-all;
    display: inline-block;
}
.catalogLink {
    border-left: 1px solid #B7C5D9;
    padding-left: 12px;
    margin-left: 7px;
    display: inline;
}
.mobile{
	display:none;
}
.desktop{
	display:block;
}
#reverseImgSearchLinks{
font-family:monospace;
width:500px;
height:125px;
box-sizing:border-box;
margin: 3px 0 0 20px;
overflow-x:auto;
}