body {
	background:#EEF2FF url(http://glauchan.org/img/fade-blue.png) top center repeat-x;
}

#everythingElse{
	margin-top: 40px;
}

#reportsDiv{
	bottom: 0;
	position: absolute;
	background-color: white;
	text-align: center;
	border: 2px solid black;
}
#reportsFrame{
	width: 250px;
	height: 200px;
}

#panel{
	width: 100%;
}

#site{
	width: 100%;
}

#panelDiv{
	float:left;
	width: 49%;
	text-align: left;
	margin-left: 0;
	padding-left: 0;
}

#siteDiv{
	float:right;
	width: 49%;
	text-align: right;
}

a.divToggle{
	text-decoration: none;
	color: #AF0A0F;
	font-weight: bold;
}