html,body {
background:#EEF2FF url(http://glauchan.org/img/fade-blue.png) top center repeat-x;
color: #000000;
font-family: arial, helvetica, sans-serif;
font-size: 10pt;
margin-left: 0;
margin-right: 0;
padding-left: 5px;
padding-right: 5px;
}

a,a:visited {
color:#34345C;
}

a.postlink{
color: #DD0000 !important;
}

a:hover{
color: #DD0000 !important;
}


textarea {
font-family:arial,helvetica,sans-serif;
font-size:10pt;
height:auto;
margin:0 2px 0 0;
outline:none;
padding:2px 4px 3px;
}

input {
font-family:arial,helvetica,sans-serif;
font-size:10pt;
margin:0 2px 0 0;
outline:none;
}

input[type=checkbox] {
margin:3px 3px 3px 4px;
}

.postInput {
border:1px solid #aaa;
outline:none;
padding:2px 4px 3px;
}

.postInput:focus {
border:1px solid #98E;
}

.banner {
border:1px solid #34345C;
}

#announcement{
text-align: center;
width: 100%;
}

.thread{
margin: 0px;
clear: both;
margin-bottom: 8px;
}

.reply {
display: table;
border:1px solid #B7C5D9;
border-left:none;
border-top:none;
padding:2px;
margin-top: 4px;
margin-bottom: 4px;
background:#D6DAF0;
color:#000;
}

.replyContainer{
display:inline;
}

.parentPost{
display: inline;
clear: both;
margin: 4px 0px;
overflow: hidden;
}

.mobileParentPostInfo{
display: none;
}

#quickReply{
top: 0;
right: 0;
margin-top: 30px;
position: fixed;
border: 1px black solid;
border-top: none;
padding: 2px;
background: inherit;
margin-right: 2px;
}

#topNavRight {
float:right;
padding: 5px;
vertical-align: middle;
}

#topNavLeft {
float:left;
padding: 5px;
}

#topNavContainer {
background:#D6DAF0;
border-bottom: 1px solid #B7C5D9;
color:black;
top: 0;
left: 0;
overflow: hidden;
position:fixed;
width:100%;
z-index: 9001;
vertical-align: middle;
}

#topNavContainer a {
font-weight: normal;
}

.logo {
clear:both;
color:#AF0A0F;
font-family:tahoma;
font-size:28px;
font-weight:700;
margin-top:-15px;
text-align:center;
width:100%;
margin-top: 5px;
}

#pageNumber {
display: table;
background:#D6DAF0;
border:none;
border-bottom:1px solid #B7C5D9;
border-right:1px solid #B7C5D9;
color:#89A;
padding: 3px;
}

.pageForm{
	display: inline;
}

.theader {
background:#E04000;
color:#FFF;
padding:2px;
text-align:center;
width:100%;
margin-bottom: 5px;
}

.rules {
font-size:10px;
margin-left:-27px;
margin-top:-9px;
width:468px;
}

.rules>li {
list-style:none;
padding:0;
}

.rules>li:before {
content:"\2022 \20";
}

hr {
border:none;
border-top:1px solid #B7C5D9;
height:0;
clear: both;
}

.postBlock {
background:#98E;
border:1px solid #000;
color:#000;
font-size:10pt;
font-weight: bold;
line-height:20px;
padding:0 5px;
display:table-cell;
width: 73px;
vertical-align: middle;
margin-right: 10px;
}

.postField {
display:table-cell;
margin-left: 10px;
}

.postSpacer {
display: table-cell;
}

#postTableContainer{
	display:table-row;
}
#postForm,#qrPostForm{
	display:table;
	border-spacing:1px;
}

#field1,#field2,#qrField1,#qrField2{
	width: 200px;
}

#field3,#qrField3{
	width: 250px;
}

#field4,#qrField4{
	width: 360px;
	height: 90px;
}

#password,#qrPassword{
	width: 75px;
}

.footer {
clear:both;
font-size:7pt;
text-align:center;
}

.passvalid {
background:#EA8;
color:#fff;
text-align:center;
width:100%;
}

.dellist {
font-weight:700;
text-align:center;
}

.delbuttons {
padding-bottom:4px;
text-align:center;
}

.managehead {
background:#AA6;
color:#400000;
padding:0;
}

.postlists {
background:#FFF;
color:maroon;
padding:0;
width:100%;
}

.row1 {
background:#EEC;
color:maroon;
}

.row2 {
background:#DDA;
color:maroon;
}

.unkfunc {
color:#789922;
margin:0;
padding:0;
}

.filetitle,.replytitle,.oldpost {
background:inherit;
color:#0F0C5D;
font-weight: bold;
}

.postertrip {
color:#228854;
}

.oldpost {
color:#CC1105;
font-weight: bold;
}

blockquote {
font-size:10pt;
}

pre{
display: block;
background-color: #F1F1F1;
border: medium none !important;
max-width: 600px;
overflow: auto;
padding: 5px !important;
font-size: 8pt;
-webkit-tab-size: 4;
-moz-tab-size: 4;
-ms-tab-size: 4;
-o-tab-size: 4;
tab-size: 4;
}


.doubledash {
color: #B7C5D9;
float: left;
margin-left: 2px;
margin-right: 2px;
margin-top: 0px;
display:block;
}

.thumbnailmsg {
color:maroon;
font-size:small;
}

.thumb {
border: none;
float: left;
margin: 2px 20px;
}

.opThumb{
margin-bottom: 2px;
}

.replyThumb {
margin-bottom: 5px;
}

.nothumb{
background: #eee;
 border: 2px dashed #aaa; 
 text-align: center; 
 margin: 2px 20px; 
 padding: 1em 0.5em 1em 0.5em;
}

.spoiler a.quotelink,.spoiler .unkfunc {
color:inherit;
}

.highlight {
background: #D6BAD0 !important;
border-bottom: 1px solid #BA9DBF !important;
color:#000;
}

span.spoiler {
background:#000;
}

span:hover.spoiler {
color:#FFF;
}

.rules a,.filesize,.filesize {
text-decoration:none;
}

.postername,.commentpostername {
color:#117743;
font-weight: bold;
}

.omittedposts,.abbrev {
color:#707070;
margin-top: 10px;
clear: both;
display: table-cell;
}

.adminName {
color: red;
}

.adminTrip {
color: red;
}

.adminCap {
color: red;
font-weight: bold;
}

select{
color: #000000;
font-size: 13px;
margin: 0;
}

.postarea{
width: 535px;
margin-left: auto;
margin-right: auto;
}

#deleteForm{
	float:right;
}

#delPass{
width: 100px;
}

.formButtom{
}

#navOptionsMenu{
display:inline-block;
box-sizing: border-box;
-moz-box-sizing: border-box;
padding: 5px;
position: relative;
text-align: left;
vertical-align: middle;
width: 600px;
max-width: 100%;
height: 500px;
max-height: 100%;
margin-left: auto;
margin-right:auto;
border: 1px solid rgba(0, 0, 0, .25);
border-left: none;
border-top: none;
background-color: #D6DAF0;
}

#navOptionsContent{
overflow: auto;
position: absolute;
top: 2.5em;
right: 5px;
bottom: 5px;
left: 5px;
}

#overlay{
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
text-align: center;
background: rgba(0, 0, 0, .5);
z-index: 1;
}

#overlay::after {
content: "";
display: inline-block;
height: 100%;
vertical-align: middle;
}

.postMenuButton{
text-decoration: none;
color: #34345C;
}

.postMenuButton > span {
border-top: .5em solid;
border-right: .3em solid transparent;
border-left: .3em solid transparent;
display: inline-block;
margin: 2px;
vertical-align: middle;
}

.postMenu{
display:none;
position: absolute;
outline:none;
border: 1px solid rgba(0, 0, 0, .25);
border-bottom: none;
padding: 0;
background-color: #D6DAF0;
margin: 2px;
}

.postMenuItem{
border-bottom: 1px solid rgba(0, 0, 0, .25);
cursor: pointer;
display: block;
outline: none;
padding: 3px 7px;
position: relative;
text-decoration: none;
white-space: nowrap;
}

.hidePostButton{
text-decoration: none;
}