body {
	color: #c5c8c6;
	/*background: rgb(29,31,33) url('../../img/Yotsuba D BG.png') bottom right no-repeat fixed;
	background-size: auto 50%;*/
	background: rgb(29,31,33);
}
a, a:visited { color: #81a2be!important; }
a.postlink { color: #81a2be !important }
a:hover { color: #DD0000 !important }
.postInput { border: 1px solid #aaa }
.postInput:focus, #recaptcha_response_field:focus { border: 1px solid #98E }
.recaptchatable { border: none!important }
.banner { border: 1px solid #34345C }
.reply {
   background-color: #282a2e;
	border: 1px solid #282a2e;
}
.topNavContainer {
    background: #282a2e;
    border-bottom: 1px solid #1F2023;
}
.logo { color: #c5c8c6 }
.adminLogo { margin-top: 40px }
.pageNumber {
    background: #282a2e;
    border: 1px solid #111;
}
.theader {
    background: #282a2e;
    color: #FFF;
	font-weight:bold;
	padding: 2px 0;
	font-size: larger;
	color: #c5c8c6;
}
hr { border-top: 1px solid #282a2e; }
.postBlock {
    background: #282a2e;
    border: 1px solid #000;
}
.passvalid {
    background: #E04000;
    color: #fff;
}
.managehead {
    background: #AA6;
    color: #400000;
    padding: 0;
}
.postlists {
    background: #FFF;
    color: maroon;
    padding: 0;
    width: 100%;
}
.row1 {
    background-color: rgb(40, 42, 46);
}
.row2 {
    background-color: rgb(13, 19, 30);
}
.unkfunc {
    color: #789922;
    margin: 0;
    padding: 0;
}
.filetitle, .replytitle, .oldpost {
    color: #b294bb;
    font-weight: bold;
}
.oldpost {
    color: #CC1105;
    font-weight: bold;
}
.doubledash { color: #B7C5D9 }
.thumbnailmsg { color: maroon }
.highlight {
    background: #1D1D21!important;
	border: 1px solid #111!important;
	padding: 2px;
}
.omittedposts, .abbrev {
    color: #707070;
    margin-top: 10px;
    clear: both;
    display: table-cell;
}
#navOptionsMenu {
    border: 1px solid rgba(0, 0, 0, .25);
    background-color: #282a2e;
}
.postMenuButton { color: #34345C }
.postMenu { background-color: #171819 }
.postMenuItem { border-bottom: 1px solid rgba(0, 0, 0, .25) }
#recaptcha_response_field:not(:focus) { border: 1px solid #AAA!important }
.listHead {
    background: #282a2e;
    border: 4px solid #0D131E;
    border-left: none;
    border-top: none;
}
.listRow:nth-child(even) { background-color: #0D131E }
.listRow:nth-child(odd) { background-color: #282a2e }
.listRow:hover { outline:2px dotted #ccc; }
/*.listPageHeader { background: #EEF2FF url(../../img/fade-blue.png) top center repeat-x }*/
.staticNav { color: #89A }
.staticNav a { color: #34345C }
.reportblock {
    color: #000;
    border: 1px solid black;
    background: #98E;
}
.reportstats { border: 1px solid black }
.reportright { border: 1px solid black }
.catalogLink { border-left: 1px solid #B7C5D9 }
.quote{
color:#b5bd68;
}
.postername, .commentpostername {
    color: #c5c8c6;
    font-weight: bold;
}
.postertrip { color: #c5c8c6 }
#overlay {
background:rgba(255,255,255,0.3);
}
.sqldump{
color:black;
}
#qr-form {
background-color: #282A2E;
border: 1px solid #000;
border-left: none;
border-top: none;
color: #C5C8C6;
}
.qr-header {
background: #282A2E;
}
@media only screen and (max-width: 480px){
	body{
		background: #0D131E;
	}
	.parentPost{
		background: #282a2e;
	}
	.replyPostInfo {
		border-bottom: 1px solid #1F2023;
		background-color: #1F2023;
	}
	.mobileParentPostInfo {
		border-bottom: 1px solid #1F2023;
		background-color: #1F2023;
	}
	.parentContainer {
		border-bottom: 1px solid #1F2023;
		background-color: #282a2e;
		padding: 0;
	}
	.button {
		background-color: #171819;
		border: 1px solid #091015;
		background-image: -moz-linear-gradient(top, #1D1F21 0%, #171819 100%);
		background-image: -webkit-linear-gradient(top, #1D1F21 0%, #171819 100%);
		background-image: linear-gradient(to bottom, #1D1F21 0%, #171819 100%);

	}
	.mobilePostReplyLink {
		border-top: 1px solid #1F2023;
		background-color: #1F2023;
	}
	.mobile-post-menu {
		border-top: 1px solid #1F2023;
		background-color: #1F2023;
	}
	.postMenuButtonMobile {
		background-color: #171819;
		border: 1px solid #091015;
		background-image: -moz-linear-gradient(top, #1D1F21 0%, #171819 100%);
		background-image: -webkit-linear-gradient(top, #1D1F21 0%, #171819 100%);
		background-image: linear-gradient(to bottom, #1D1F21 0%, #171819 100%);
  }
}
