html,body {
background:#FFE url(../../img/fade.png) top center repeat-x;
color:maroon;
font-family:arial,helvetica,sans-serif;
font-size:10pt;
margin-left:0;
margin-right:0;
padding-left:5px;
padding-right:5px;
margin-top: 5px;
}

a {
color:#00E;
}

a:hover {
color:#D00;
}

.postInput:focus {
border:1px solid #ea8;
}

.postInput{
border:1px solid #aaa;
outline:none;
padding:2px 4px 3px;
}

input[type=checkbox] {
margin:3px 3px 3px 4px;
}

textarea {
font-family:arial,helvetica,sans-serif;
font-size:10pt;
height:auto;
margin:0 2px 0 0;
outline:none;
padding:2px 4px 3px;
}

input {
font-family:arial,helvetica,sans-serif;
font-size:10pt;
margin:0 2px 0 0;
outline:none;
}

.thread{
margin: 0px;
clear: both;
margin-bottom: 8px;
}

.reply {
display: table;
border:1px solid #D9BFB7;
border-left:none;
border-top:none;
padding:2px;
margin-top: 4px;
margin-bottom: 4px;
background:#F0E0D6;
color:maroon;
}

.replyContainer{
display:inline;
}

.parentPost{
display: inline;
clear: both;
margin: 4px 0px;
overflow: hidden;
}

#quickReply{
top: 0;
right: 0;
margin-top: 30px;
position: fixed;
border: 1px black solid;
border-top: none;
padding: 2px;
background: inherit;
margin-right: 2px;
}

.banner {
border:1px solid #800;
}

#topNavRight {
float:right;
padding: 5px;
vertical-align: center;
}

#topNavLeft {
float:left;
padding: 5px;
vertical-align: center;
}

#topNavContainer {
background-color: #EDE4DC;
border-bottom: 1px solid #DCC5B8;
top: 0;
left: 0;
overflow: hidden;
position:fixed;
width:100%;
z-index: 9001;
vertical-align: center;
height: 30px;
}

#topNavContainer a {
font-weight: normal;
}

.logo {
clear:both;
color:maroon;
font-family:tahoma;
font-size:28px;
font-weight:700;
margin-top:-15px;
text-align:center;
width:100%;
}

#announcement{
text-align: center;
width: 100%;
}

#pageNumber {
display: table;
background:#F0E0D6;
border:none;
border-bottom:1px solid #D9BFB7;
border-right:1px solid #D9BFB7;
color:#B86;
padding: 3px;
}

.pageForm{
	display: inline;
}

.theader {
background:#E04000;
color:#FFF;
padding:2px;
text-align:center;
width:100%;
margin-bottom: 5px;
}

.rules {
font-size:10px;
margin-left:-27px;
margin-top:-9px;
width:468px;
}

.rules>li {
list-style:none;
padding:0;
}

.rules>li:before {
content:"\2022 \20";
}

hr {
border:none;
border-top:1px solid #D9BFB7;
height:0;
clear: both;
}

.postBlock {
background:#EA8;
border:1px solid #800;
color:maroon;
font-size:10pt;
font-weight: bold;
line-height:20px;
padding:0 5px;
display:table-cell;
width: 73px;
vertical-align: middle;
margin-right: 10px;
}

.postField {
display:table-cell;
margin-left: 10px;
}

.postSpacer {
display: table-cell;
}

#postTableContainer{
	display:table-row;
}
#postForm,#qrPostForm{
	display:table;
	border-spacing:1px;
}

#field1,#field2,#qrField1,#qrField2{
	width: 200px;
}

#field3,#qrField3{
	width: 250px;
}

#field4,#qrField4{
	width: 360px;
	height: 90px;
}

#password,#qrPassword{
	width: 75px;
}

#field7{
	width: 75px;
}

.postarea{
width: 465px;
margin-left: auto;
margin-right: auto;
}

.footer {
clear:both;
font-size:7pt;
text-align:center;
}

.passvalid {
background:#EA8;
color:#fff;
text-align:center;
width:100%;
}

.dellist {
font-weight:700;
text-align:center;
}

.delbuttons {
padding-bottom:4px;
text-align:center;
}

.managehead {
background:#AA6;
color:#400000;
padding:0;
}

.postlists {
background:#FFF;
color:maroon;
padding:0;
width:100%;
}

.row1 {
background:#EEC;
color:maroon;
}

.row2 {
background:#DDA;
color:maroon;
}

.unkfunc {
background:inert;
color:#789922;
margin:0;
padding:0;
}

.filetitle {
background:inherit;
color:#CC1105;
font-weight:bold;
}

.postertrip {
color:#228854;
}



blockquote {
font-size:10pt;
}

.doubledash {
color: #e0bfb7;
float: left;
margin-left: 2px;
margin-right: 2px;
margin-top: 0px;
display:block;
}

.thumbnailmsg {
color:maroon;
font-size:small;
}

.thumb {
border: none;
float: left;
margin: 2px 20px;
}

.opThumb{
margin-bottom: 2px;
}

.replyThumb {
margin-bottom: 5px;
}

.nothumb{
background: #eee;
 border: 2px dashed #aaa; 
 text-align: center; 
 margin: 2px 20px; 
 padding: 1em 0.5em 1em 0.5em;
}

.highlight {
background:#F0C0B0;
border:2px dashed #EA8;
color:maroon;
}

span.spoiler {
background:#000;
color:#000;
margin-top:-2em;
padding-top:-2em;
}

span:hover.spoiler {
color:#FFF;
}

.rules a,.filesize,.filesize {
text-decoration:none;
}

.postername,.commentpostername {
color:#117743;
font-weight:bold;
}

.oldpost,.replytitle {
color:#CC1105;
font-weight:bold;
}

.omittedposts,.abbrev {
color:#707070;
margin-top: 10px;
clear: both;
display: table-cell;
}

.adminName {
color: red;
}
.adminTrip {
color: red;
}
.adminCap {
color: red;
font-weight:bold;
}
.reportButton{
text-decoration: none;
}

select{
color: #000000;
font-size: 13px;
margin: 0;
}

#deleteForm{
	float:right;
}

#delPass{
width: 100px;
}

#password{
width: 75px;
}